# Application Configuration
PORT=
ENVIRONMENT=
JWT_SECRET=
JWT_EXPIRES_IN=

## Database Configuration
DB_HOST=
DB_PORT=
DB_NAME=
DB_PASSWORD=
DB_USERNAME=

## Email Service Configuration
SMTP_HOST=                           # SMTP Host
SMTP_PORT=                           # Port (587 for STARTTLS, 465 for SSL/TLS)
SMTP_USER=your-email@gmail.com       # Your email or SMTP user
SMTP_PASS=your-application-password  # Application password or API key